.popup__button{
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 2px;
  color: rgba(196, 196, 196, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22em;
  text-align: center;
  margin: 48px 36px 30px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  }

.popup__button:hover {
 opacity: .8;
 cursor: pointer;
 }

@media screen and (max-width: 605px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 45px 22px 25px;
  }
}
