.popup__button-closed {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
}

@media screen and (max-width: 605px) {
  .popup__button-closed {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
